$primary: #e63d30;
$secondary: adjust-color($primary, $saturation: 10%, $lightness: 35%);
$tertiary: blue;
$bg1: #f7f7f7;
$bg2: white;
$bg3: #ededed;

$formBg: $bg1;
$sectionBg: $bg2;
$sectionHeaderBg: $secondary;
$inputBg: $bg1;
$focus: #3780ee;
$borderRadius: 6px;
$pendMinWidth: 36px;
$borderColor: #c4c4c4;
$invalidColor: red;
$disabledColor: #d8d8d8;
$labelColor: #5c5c5c;
$labelFloatColor: rgba($color: $labelColor, $alpha: 0.8);
$success: #0b9b0b;
$progressLow: #e61b1b;
$progressMedium: #fead18;
$progressHigh: #14a114;